<ion-content [fullscreen]="true">

  <div id="background">
    <img src="./assets/images/book1.png" id="book" />
    <img src="./assets/images/pencil.png" id="book1" />
    <img src="./assets/images/star.png" id="book" />
    <img src="./assets/images/hexagon.png" id="book1" />
    <img src="./assets/images/triangle.png" id="book" />
    <img src="./assets/images/glass.png" id="book1" />

    <img src="./assets/images/star.png" id="book" />
    <img src="./assets/images/pencil.png" id="book1" />
    <img src="./assets/images/hexagon.png" id="book1" />
    <img src="./assets/images/book1.png" id="book" />
    <img src="./assets/images/triangle.png" id="book" />
    <img src="./assets/images/glass.png" id="book1" />

    <img src="./assets/images/star.png" id="book" />
    <img src="./assets/images/pencil.png" id="book1" />
    <img src="./assets/images/hexagon.png" id="book1" />
    <img src="./assets/images/book1.png" id="book" />
    <img src="./assets/images/triangle.png" id="book" />


    <img src="./assets/images/star.png" id="book" />
    <img src="./assets/images/pencil.png" id="book1" />
    <img src="./assets/images/hexagon.png" id="book1" />
    <img src="./assets/images/book1.png" id="book" />
    <img src="./assets/images/triangle.png" id="book" />

    <img src="./assets/images/book1.png" id="book" />
    <img src="./assets/images/pencil.png" id="book1" />
    <img src="./assets/images/star.png" id="book" />
    <img src="./assets/images/triangle.png" id="book" />

    <div id="container">
      <img src="./assets/images/fun-learning.jpg" id="p1Image" />
      <div></div>
      <img src="./assets/images/four-kids-jump-2.jpg" id="p1Image" />
      <div></div>
      <ion-button id="p1Btn" [routerLink]="'/first-page'">Let's star</ion-button>
    </div>
  </div>
</ion-content>